.navbar {
  position: relative;
  z-index: 999;
  padding: 0;
  height: 55px;
  width: 100%;
  position: fixed;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar.scrolled {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-brand img {
  max-height: 26px;
  cursor: pointer;
}

.nav-items {
  display: flex;
  align-items: unset;
  flex-direction: column;
  position: absolute;
  font-size: 1rem;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  transition: all 0.3s ease;
  opacity: 0.9;
}

.nav-items.active {
  background-color: var(--main-blue);
  top: 0;
  right: 0;
  transition: all 0.3s ease;
  opacity: 1;
}
.nav-items.active .nav-link:hover {
  color: #f0f0f0;
}

.nav-items.active .btn-light {
  background-color: var(--main-light);
}

.nav-link {
  color: var(--main-light);
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-items hr {
  width: 94%;
  height: 0.5px;
  background-color: var(--main-light);
  margin: 25px auto;
  border-radius: 4px;
}

.nav-items.active .btn-light {
  font-weight: 600;
  color: var(--main-blue);
}

/* ==Humberger Menu Icon== */
.burger_hamburger-box__3lYk7 {
  width: 24px !important;
}

.burger_hamburger__21cuQ {
  margin: 0;
  padding: 0;
}

.burger_hamburger-inner__14XT2,
.burger_hamburger-inner__14XT2:after,
.burger_hamburger-inner__14XT2:before {
  width: 23px !important;
  height: 2px !important;
  padding: 0;
  border-radius: 0 !important;
}

.burger_hamburger-inner__14XT2:after {
  bottom: -7px !important;
}

.burger_hamburger--spin__3aNMq.burger_is-active__3Yxiv
  .burger_hamburger-inner__14XT2:after {
  bottom: 0 !important;
}

.burger_hamburger--spin__3aNMq.burger_is-active__3Yxiv
  .burger_hamburger-inner__14XT2::before {
  top: 0 !important;
}

.burger_hamburger-inner__14XT2::before {
  top: -7px !important;
}

/* ==End of Humberger Menu Icon== */

/* ===NAVBAR RESPONSIVE=== */

@media (min-width: 992px) {
  .navbar {
    height: 80px;
    transition: ease-in-out 0.4s;
  }

  .navbar-brand img {
    max-height: 100%;
  }

  .nav-items {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    height: 100%;
    width: 40%;
    justify-content: space-between;
  }

  .nav-items.active {
    display: none;
  }

  .nav-link {
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #333333;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding: 0 5px;
  }

  .nav-link.active,
  .nav-link:hover,
  .nav-link:active {
    color: var(--main-blue) !important;
  }

  .nav-btn.second-button {
    max-width: 90px;
    font-size: 15px;
    padding: 4px;
  }

  .navbar.scrolled {
    height: 70px;
    position: fixed;
  }

  .burger_hamburger__21cuQ,
  .nav-items .sidebar-brand,
  .nav-items hr {
    display: none !important;
  }
}
