/* ====MAIN SECTION==== */
.banner {
  height: auto;
  width: 100%;
}

.hero-content {
  max-width: 23rem;
  padding-top: 110px;
}

@media (max-width:767.98px) {
  .hero-content {
    max-width: 100%;
  }
}

.hero-image {
  order: 1;
  text-align: center;
  padding: 0 35px;
}

/* ==End of Main Section== */



/* ===ABOUT AREA=== */
.about-content a {
  color: #323337;
  font-weight: 600;
}


.about-area {
  margin-top: 30px;
}

.about-profile .card-image img {
  height: 220px;
}

.skill-bar .progress {
  display: flex;
  height: 0.7rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 1rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #323337;
  transition: width 0.6s ease;
  border-radius: 15px;
  transition: 0.4s ease-in-out 0s;
}

.about-desc {
  line-height: 1.8rem;
}

.information-link {
  font-size: 18px;
  line-height: 1.33;
  color: #323337;
  text-decoration: none;
  font-family: MaisonNeue-Demi, sans-serif;
  width: auto;
  display: inline-block;
}

.information-link:after {
  content: "";
  position: absolute;
  width: calc(100% - 428px);
  height: 2px;
  background-color: #323337;
  visibility: hidden;
  bottom: -2px;
  left: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.information-link:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

/* ===SLICK SLIDER=== */
.slick-slide:focus {
  outline: none;
}

.portfolio-card {
  position: relative;
  padding-left: 1rem;
}

.portfolio-card-wrap {
  position: relative;
  background: #bbb;
  margin-left: auto;
  margin-right: 0.5rem;
  height: 180px;
  max-width: none;
  width: auto;
  border-radius: 16px;
  overflow: hidden;
}

.portfolio-card-wrap img {
  border-radius: 16px;
  width: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -o-object-fit: cover;
  object-fit: cover;
  height: 180px;
}

@media (max-width: 320px) {
  .portfolio-card-wrap img {
    height: 160px;
  }

  .portfolio-card-wrap {
    height: 160px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .portfolio-card-wrap {
    height: 235px;
  }

  .portfolio-card-wrap img {
    height: 290px;
  }
}


/* ===FOOTET AREA=== */
.footer-area {
  background-color: #f4f2f2;
}

.footer {
  padding-top: 50px;
  padding-bottom: 10px;
}

.footer-social-media img {
  height: 1.5rem;
  cursor: pointer;
}

.footer ul,
li {
  color: var(--main-dark);
  list-style: none;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 10px;
  justify-content: space-between;
  transition: ease-in-out 0.3s;
}

.footer ul,
li:hover {
  cursor: pointer;
  color: var(--main-blue);
}


.footer-social-media {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  padding-top: 5px;
  border: 1px solid var(--main-gray);
  transition: ease-in-out 0.3s;
}

.footer-social-media:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: none;

}



@media (min-width: 768px) {

  .main-button,
  .second-button {
    max-width: 200px;
  }

  .second-button {
    margin-top: 0;
    margin-left: 5px;
  }

  /* ===HERO=== */
  .hero-content {
    padding-top: 150px;
  }

  .hero-image {
    padding-left: 50px;
    padding-right: 0;
  }

  /* ===MAIN=== */

  .hero-banner {
    padding-top: 52px;
  }

  /* ===ABOUT=== */
  .about-area {
    margin-top: 100px;
    flex-direction: column-reverse;
  }

  .card-image img {
    margin-right: 80px;
    height: 250px;
  }

  .about-content {
    order: 1;
    padding-left: 18px;
  }

  .about-profile {
    padding-right: 24px;
  }

  /* ==PORTFOLIO== */
  .portfolio-area {
    margin-top: 100px;
  }

  .portfolio-card-wrap {
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
  }

  .portfolio-card-wrap img {
    height: auto;
    width: 100%;
  }

  .slick-prev,
  .slick-next {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    display: block;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background-color: var(--main-light) !important;
    box-shadow: 0 2.8px 2.2px rgba(160, 160, 160, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: "Montserrat", sans-serif !important;
    font-size: 20px;
    line-height: 0.5 !important;
    opacity: 0.75;
    color: var(--main-blue) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--main-blue) !important;
  }

  /* ===FOOTER AREA=== */
  .footer-items {
    width: 500px;
  }

  .footer ul,
  li {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 400;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .hero-content {
    padding-top: 120px;
  }
}