@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* ===CSS RESET=== */
:root {
  --main-blue: #0abab5;
  --second-blue: #0fdcd6;
  --main-dark: #323337;
  --main-light: #ffffff;
  --main-gray: #909090;
  --second-gray: #f4f2f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: var(--main-blue);
}

a {
  color: var(--main-dark);
  font-weight: 600;
  transition: 0.4s ease-in-out;
}

dl,
ol,
ul,
li {
  text-decoration: none;
  margin: 0;
}
img {
  -webkit-user-drag: none;
  user-select: none;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 0;
}

.col-lg-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.no-gutters,
.row {
  margin-right: 0;
  margin-left: 0;
}

*:focus {
  outline: none !important;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8f9fa;
}

/* ===ALL TITLE STYLE=== */
.main-title {
  color: var(--main-dark);
  font-size: 34px;
  font-weight: 700;
  line-height: 2.5rem;
}

.second-title {
  color: var(--main-dark);
  font-size: 24px;
  font-weight: 600;
}

.subtitle {
  color: var(--main-dark);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6rem;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
}

@media (min-width: 756px) {
  .main-title {
    font-size: 55px;
    line-height: 3.8rem;
  }

  .second-title {
    font-size: 36px;
    font-weight: 600;
  }

  .third-title {
    font-size: 32px;
    font-weight: 600;
  }

  .description {
    font-size: 16px;
  }
}

/* ====ALL BUTTON STYLE=== */
.main-button,
.second-button {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  padding: 0.7rem 1.6rem;
  cursor: pointer;
  transition: 0.4s ease-in-out 0s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-button:active,
.main-button:focus,
.main-button:hover,
.second-button:active,
.second-button:focus,
.second-button:hover {
  outline: none;
  box-shadow: none;
}

.main-button {
  background-color: var(--main-blue);
  border-color: var(--main-blue);
  color: var(--main-light);
}

.second-button {
  background-color: var(--main-light);
  border-color: var(--main-light);
  color: var(--main-blue);
}

.main-button:hover,
.main-button:focus,
.main-button:active {
  background-color: var(--second-blue) !important;
  border-color: var(--second-blue) !important;
}

.second-button:hover,
.second-button:focus,
.second-button:active {
  background-color: #e2e6ea !important;
  border-color: #e2e6ea !important;
  color: var(--main-blue) !important;
}

.html {
  scroll-behavior: smooth;
}
