@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* ===CSS RESET=== */
:root {
  --main-blue: #0abab5;
  --second-blue: #0fdcd6;
  --main-dark: #323337;
  --main-light: #ffffff;
  --main-gray: #909090;
  --second-gray: #f4f2f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: var(--main-blue);
}

a {
  color: var(--main-dark);
  font-weight: 600;
  transition: 0.4s ease-in-out;
}

dl,
ol,
ul,
li {
  text-decoration: none;
  margin: 0;
}
img {
  -webkit-user-drag: none;
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f8f9fa;
}

/* ===ALL TITLE STYLE=== */
.main-title {
  color: var(--main-dark);
  font-size: 45px;
  font-weight: 700;
  line-height: 3rem;
}

.second-title {
  color: var(--main-dark);
  font-size: 35px;
  font-weight: 700;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6rem;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
}

/* ====ALL BUTTON STYLE=== */
.btn.btn-main-button,
.btn.btn-second-button {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  transition: 0.4s ease-in-out 0s;
}

.btn.btn-main-button:active,
.btn.btn-main-button:focus,
.btn.btn-main-button:hover,
.btn.btn-second-button:active,
.btn.btn-second-button:focus,
.btn.btn-second-button:hover {
  outline: none;
  box-shadow: none;
}

.btn.btn-main-button {
  background-color: var(--main-blue);
  border-color: var(--main-blue);
  color: var(--main-light);
}

.btn.btn-second-button {
  background-color: var(--main-light);
  color: var(--main-blue);
}

.btn.btn-main-button:hover,
.btn.btn-main-button:focus,
.btn.btn-main-button:active {
  background-color: var(--second-blue);
  border-color: var(--second-blue) !important;
}

.btn.btn-second-button:hover,
.btn.btn-second-button:focus,
.btn.btn-second-button:active {
  background-color: #e2e6ea !important;
  border-color: #e2e6ea !important;
  color: var(--main-blue) !important;
}

.html {
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  .main-title {
    font-size: 70px;
    line-height: 4rem;
  }

  .second-title {
    font-size: 45px;
  }

  .description {
    font-size: 16px;
  }
}
